{% extends 'base.html' %}


{% load crispy_forms_tags %}

{% block content %}



<form method = "post" autocomplete="off">
    {% csrf_token %}
     
    {% comment %} {{forms|crispy}} {% endcomment %}


    {{form.fullname|as_crispy_field}}
    {{form.mobile|as_crispy_field}}
    
    <div class="row">
        <div class="col-md-4"> 
            {{form.emp_code|as_crispy_field}}
        </div>
        <div class="col-md-8"> 
            {{form.position|as_crispy_field}}
        </div>
    </div>


    <div class="row pt-3">
        <div class="col"> 
            <button type="submit" class="btn btn-success btn-block "> Submit - </button>
            <a href= " {% url 'e_list'  %}" class="btn btn-danger btn-block text-light">  Back to list - </a>  
        </div>
    </div>
        
    
</form>

{% endblock content  %} 
